body{
    margin: 0;
    background-color: #f9ffff;
}
.w-header{
    height: 100px;
    background-color: #dfffff;
}
.w-header-text{
    margin: 0;
    padding-top: 25px;
    text-align: center;
}
.w-input{
    height: 30px;
    width: 30%;
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.w-btn{
    height: 36px;
    width: 72px;
    background-color: #a7ffff;
    border-radius: 5px;
    border: none;
}
.w-btn:hover{
    box-shadow: 0 0 10px 2px rgba(34, 60, 80, 0.2) inset;
}
.w-placeholder{
    width: 400px;
    margin: auto;
    background-color: #b3ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}
.weather-img{
    width: 50px;
    height: 50px;
}